@import './common/vars.sass'
@import './common/gem.scss'
@import 'blocks/**/*'

*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // visibility: hidden
.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

//start here

.space-between
    display: flex
    justify-content: space-between

.space-evenly
    display: flex
    justify-content: space-evenly

.flex
    display: flex
.colum
    display: flex
    flex-direction: column
.btn-contact
    color: var(--color-turquoise-pearl)
    padding: gem(12) gem(30) gem(13)
    border: gem(1) solid var(--color-turquoise-pearl)
    background: none

.header
    position: absolute
    left: 0
    right: 0
    margin-top: gem(40)
    z-index: 1
.nav
    margin: auto

.nav-item
    display: flex
    position: relative
    a
        margin-right: gem(40)
    &:hover
        ul
            display: block
        svg path
            transform: rotate(180deg)
            transform-origin: 50% 50%

.nav-item ul
    position: absolute
    margin-top: gem(26)
    background: var(--color-cosmic-cobalt)
    padding: gem(12) gem(22) gem(16) gem(16)
    display: none
    margin-left: gem(-50)
    width: gem(200)
    z-index: 1
    li
        margin-bottom: gem(12)
        cursor: pointer
        font-size: 0
        &:last-child
            margin-bottom: 0
        a
            &:hover
                color: var(--color-turquoise-pearl)

.hero
    background: linear-gradient(180deg, #06214C 0%, #04102D 100%)
    padding: gem(105) 0 gem(69) 0
    img
        width: gem(582)
        height: gem(726)

.hero-content
    padding-top: gem(225)
    margin-left: gem(100)
    h1
        padding-bottom: gem(20)
    p
        width: 50%
        opacity: 0.8

.btn
    color: var(--color-white)
    background: var(--color-turquoise-pearl)
    padding: gem(14) gem(13)
    border: none

.offer
    background: var(--color-deep-cove)
    padding-bottom: gem(60)
    h2
        margin: gem(40) 0 gem(60) 0


.offer.space-evenly
    margin-top: gem(60)

.offer-block
    width: 100%
    max-width: gem(242)
    text-align: center
    h2
        padding: gem(8) 0 gem(8)
        margin: 0
    img
        display: block
        margin: auto
    p
        opacity: 0.8



.offer-block-btn
    display: block
    padding: gem(16) gem(17) 0 0
    margin: auto
    background: none
    border: none
    width: 100%
    max-width: gem(68)
    position: relative

.arrow
    position: absolute
    top: gem(23)
    right: 0

.offer-one
    width: gem(950)
    margin: auto

.offer-two
    width: gem(590)
    margin: auto

.industries
    padding: gem(160) 0 0 0

.industries-left
    h2
        color: var(--color-deep-cove)
        padding-bottom: gem(247)
        font-weight: 600

.industries-left, .industries-right
    width: 100%
    max-width: 50%

.btn-lear-more
    border: none
    background: none
    position: relative
    display: none
    
.cards
    padding-top: gem(33)

.card
    border: gem(1) solid var(--color-blizzard-blue)
    margin-bottom: gem(20)
    width: gem(589)
    h3
        color: var(--color-moonstone)
        font-weight: 600
        padding: gem(24) 0 gem(24) gem(40)
    img
        display: none
    &:hover
        border: none
        position: relative
        left: gem(-102)
        h3
            color: var(--color-deep-cove)
            padding: gem(56) 0 gem(8) gem(40)
        img
            display: block
            position: absolute
            top: 0
            right: 0
        .btn-lear-more
            color: var(--color-very-dark-blue)
            display: block
            padding: 0 gem(17) gem(56) gem(40)
            .arrow
                top: gem(8)

.industries-right span
    color: var(--color-deep-cove)
    width: gem(589)
    display: block

.our-customers
    padding-top: gem(160)
    h2
        color: var(--color-black-pearl)
    a
        color: var(--color-moonstone)
        display: block
.sliders
    margin: gem(149) 0 gem(160)
    display: flex

.slider-item
    position: relative
    width: gem(224)
    height: gem(120)
    top: gem(270)
    background: var(--color-white)
    border: none
.slick-slide .slide
    width: gem(283) !important
    position: relative
    height: gem(390)
    margin: auto
    p
        color: var(--color-deep-cove)
        padding: gem(12) gem(19) gem(36) gem(12)
        position: relative
    img
        position: absolute
        z-index: -1
        height: gem(390)

.slick-list.draggable
    width: gem(996)
    margin: auto

.slick-list.draggable .slick-track
    display: flex
    justify-content: center

.slick-slider .slick-list.draggable .slick-track .slick-slide
    width: gem(386) !important
    height: gem(481)
    margin: 0 gem(22)
    display: flex
    align-items: end

.slick-slider .slick-dots
    text-align: center
    display: flex
    justify-content: center
    list-style: none
    position: relative
.slick-slider .slick-dots li button 
    background: var(--color-turquoise-pearl)
    border: none
    border-radius: 50%
    height: gem(8)
    width: gem(8)
    margin: gem(12)
    outline: none
    &::before
        content: ''

.slick-slider .slick-dots li
    width: auto
    height: auto

.slick-slider .slick-dots li[class="slick-active"] button
  background: var(--color-turquoise-pearl)
  width: gem(14)
  height: gem(14)

.slide
    display: block !important
    &:hover
        width: gem(386) !important
        height: gem(481)
        // background: var(--color-white)
        box-shadow: gem(4) gem(8) gem(32) rgba(82, 91, 148, 0.27158);
        border-radius: gem(4)
        p
            padding-bottom: gem(16)
        img
            width: 100%
            height: gem(481)
        .slider-item
            height: gem(129)
            top: gem(355)
            .btn-lear-more
                display: block
                color: var(--color-very-dark-blue)
                cursor: pointer
                margin-bottom: gem(16)
                .arrow
                    top: gem(6)
                    right: gem(-11)



.tabs
    background: var(--color-downriver)
    height: gem(720)
    position: relative
    left: gem(-100)
    h2
        width: 60%
        margin: auto
        padding: gem(160) 0 gem(80)

.tab
    display: flex
    margin-left: gem(301)
    margin-bottom: gem(50)
    img
        margin-left: gem(52)

.bullet
    width: gem(12)
    height: gem(12)
    background: var(--color-turquoise-pearl)
    position: relative
    top: gem(17)
    border-radius: 50%

.analytics
    padding-top: gem(160)
    h2
        color: var(--color-deep-cove)
        font-weight: 600
        width: gem(479)
        margin-left: gem(100)

.analytics-cards
    width: 65%
    display: flex
    flex-wrap: wrap
    margin-top: gem(84)
    padding-bottom: gem(160)
.analytics-card
    border: gem(1) solid var(--color-blizzard-blue)
    height: gem(125)
    margin-bottom: gem(16)
    img
        display: block
    &.d3
        padding: gem(33) gem(77)
    &.sap
        padding: gem(35) gem(59)
    &.exasol
        padding: gem(43) gem(93) gem(42) gem(92)
    &.r
        padding: gem(33) gem(88) gem(33) gem(77)
    &.informatica
        padding: gem(32) gem(54) gem(31) gem(55)
    &.python
        padding: gem(35) gem(76) gem(30) gem(78)
    &.power-bi
        padding: gem(9) gem(40) gem(8) gem(44)
    &.tableau
        padding: gem(41) gem(44) gem(40) gem(45)
    &:nth-child(odd)
        margin-right: gem(16)

.analytics-card div
    &:nth-child(1)
        margin-left: gem(-66)
    &:nth-child(2)
        margin-left: gem(-224)
    &:nth-child(3)
        margin-left: gem(-102)

.analytics-card
    &:hover
        border: none
        background: #FFFFFF
        box-shadow: gem(24) gem(32) gem(70) rgba(11, 20, 62, 0.117734)
        border-radius: gem(2)

.more-data
    background: var(--color-black-pearl)
    h2
        padding: gem(160) 0 gem(20)
    p
        opacity: 0.8
        width: 40%
        margin: auto
        padding-bottom: gem(40)

.more-data
    padding-bottom: gem(127)
    img
        display: block
        margin: gem(-173) auto auto gem(301)

.more-data .footer-btn
    margin: auto
    padding: gem(14) gem(19)
    display: block
    line-height: gem(21)

.footer
    background: var(--color-black-pearl)

.footer-right
    display: flex
    flex-direction: row
    justify-content: flex-end
    width: 100%

.footer-right-line
    display: flex
    align-items: flex-start
    width: gem(200)
    flex-direction: column
    h3
        line-height: gem(19)
        margin-bottom: gem(32)
    li
        margin-bottom: gem(26)
        font-size: 0
        a
            color: var(--color-white)
            opacity: 0.8


.footer-left .footer-btn
    color: var(--color-turquoise-pearl)
    border: gem(1) solid var(--color-turquoise-pearl)
    background: none
    line-height: gem(19)
    padding: gem(12) gem(30) gem(13) gem(30)
    display: block

.logo-footer
    display: block

.social-link svg
    width: gem(32)
    height: auto

.social-link svg path
    fill: var(--color-turquoise-pearl)

.social-link
    margin: gem(40) 0
    a
        font-size: 0

        

